.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.Head {
  font-family: $font-head, sans-serif;
  font-size:24px;
  font-weight: normal;
}

.Title {
  font-family: $font-title, sans-serif;
  font-size:20px;
  &--light {
    font-weight: 300 !important;
  }
}

.Light {
  font-weight: lighter;
}


.Sub-title {
  font-family: $font-title, sans-serif;
  font-size:14px;
  font-weight: bold;
}

.Info-text {
  font-family: $font-title, sans-serif;
  font-size:14px;
}

.text-light { font-weight: lighter !important; }
.text-primary { color: $primary; }
.text-dark { color: $grey-dark; }
.text-medium { color: $grey-medium; }
.text-light { color: $grey-light; }
