// Body
$body-bg: #f5f8fa;

$font-head: 'Montserrat';
$font-title: 'Montserrat';
$font-title: 'Montserrat';
$font-body: 'Montserrat';
$font-input: 'Montserrat';
$font-button: 'Montserrat';

//Colors
$primary: #005b95;
$baseblack: #000000;

//Shades
$grey-dark: lighten($baseblack, (100% - 87%));
$grey-medium: lighten($baseblack, (100% - 54%));
$grey-light: lighten($baseblack, (100% - 38%));

$border-box-color: rgb(201,201,201);
$shadow: 0px 3px 4px rgba(201,201,201,0.9);
$shadow-near: 0px 2px 3px rgba(201,201,201,0.9);
$shadow-primary: 0px 0px 28px rgba(41,105,148,0.2);
$shadow-modal: 0px 5px 8px rgba(100,100,100,0.4);

@mixin shadow($shadow) {
  -moz-box-shadow:    $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow:        $shadow;
}



@mixin border() {
  border: 1px solid $border-box-color;
}
@mixin border-custom($border) {
  border: 1px solid $border;
}
@mixin border-dark() {
  border: 1px solid darken($border-box-color,30%);
}

@mixin border-selected() {
    border: 2px solid $primary;
}


@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 320px) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: 321px) and (max-width: 1024px) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: 1024px) { @content; }
  }
}
